.div {
  width: 434px;
}

.last {
  width: 180px;
  height: 40px;
  margin-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  line-height: 40px;
  /* identical to box height, or 308% */
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: #000000;
}
