.rect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.signButton {
  box-sizing: border-box;
  width: 275px;
  height: 55px;
  background: #f7f8ff;
  border: 1px solid rgba(150,150,150, 0.3) ;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signButton:hover {background-color: #f0f1f7}

.signButton:active {
  background-color: #f7f8ff;
  box-shadow: 0 1px #f7f8ff;
  transform: translateY(0.5px);
}

.signText {
  width: auto;
  opacity: 0.7;
  line-height: 0px;
  margin-top: 27px;
  margin-bottom: 28px;
  margin-right: 37px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}

.facebook {
  width: 41px;
  height: 33px;
  margin-right: 13px;
}

.google {
  width: 46px;
  height: 46px;
  margin-right: 17px;
}
